/* basic information */
body {
	font-family: sans-serif;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

.container {
	width: 600px;
}

h2 {
	color: blue;
}

h3 {
	color: blue;
	border-bottom: 1px solid blue;
}

#intro-text {
	border-bottom: 1px solid blue;
}

header {
	display: flex;
}

.green-text {
	color: green;
}